
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #E9E8E9 !important;
    font-size: large !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-menu.show{
  border:none
}
.dropdown-item.active,
.dropdown-item:active{
  color:black !important;
  background-color: #C4C0C2 !important;
}
.span {
  background-color: #C4C0C2;
  border-radius: 50%;
  padding: 2px;
  color:white
}
.span:hover{
  font-weight:700;
}

.favbutton{
  width: max-content;
  margin-left: 42%;
  color: black !important;
  border: solid 1px black !important;
  background-color: white !important;
}
.favbutton:hover{
  background-color: #C4C0C2 !important;
}
.favbutton:focus{
  box-shadow: none !important;
}